<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>메뉴코드로 메뉴 조회</title>
</head>
<body>
    <h1>메뉴</h1>
    <table border="1">
        <tr>
            <th>메뉴번호</th>
            <th>메뉴이름</th>
            <th>메뉴가격</th>
            <th>카테고리코드</th>
            <th>판매상태</th>
        </tr>
        <tr>
            <td th:text="${menu[0].code}"></td>
            <td th:text="${menu[0].name}"></td>
            <td th:text="${menu[0].price}"></td>
            <td th:text="${menu[0].categoryCode}"></td>
            <td th:text="${menu[0].orderableStatus}"></td>
        </tr>
    </table>
</body>
</html>